<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_scanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,0},{212,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,60}}</string>
                <key>sourceSize</key>
                <string>{212,60}</string>
            </dict>
            <key>ui_scguanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,0},{121,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,125}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>ui_scyq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,61},{156,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{156,46}}</string>
                <key>sourceSize</key>
                <string>{156,50}</string>
            </dict>
            <key>ui_scyq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,61},{156,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,50}}</string>
                <key>sourceSize</key>
                <string>{156,50}</string>
            </dict>
            <key>ui_sczi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{580,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{580,152}}</string>
                <key>sourceSize</key>
                <string>{580,154}</string>
            </dict>
            <key>ui_sczi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,126},{289,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,24}}</string>
                <key>sourceSize</key>
                <string>{289,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shouchong.png</string>
            <key>size</key>
            <string>{1016,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ff7752eddfdcecd4505073a153310c1:1/1$</string>
            <key>textureFileName</key>
            <string>shouchong.png</string>
        </dict>
    </dict>
</plist>
