<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoji_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,226},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baoji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,457},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baoji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,204},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baoji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,193},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baoji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,125},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baoji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,125},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baoji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,193},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baoji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,160},{32,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baoji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,160},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baoji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,204},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>beibaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{125,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,51}}</string>
                <key>sourceSize</key>
                <string>{125,51}</string>
            </dict>
            <key>fonts_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{481,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,124}}</string>
                <key>sourceSize</key>
                <string>{481,124}</string>
            </dict>
            <key>nimg_bt_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,406},{197,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>nimg_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,125},{83,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>nimg_caishen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{184,280}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{184,280}}</string>
                <key>sourceSize</key>
                <string>{218,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rockTree.png</string>
            <key>size</key>
            <string>{481,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9d2996cf738ddfa073d434148e5fec:1/1$</string>
            <key>textureFileName</key>
            <string>rockTree.png</string>
        </dict>
    </dict>
</plist>
